footer
	.top-footer
		.top-footer__content.container
			.footer__columns
				.footer__column.footer__about-waxom.wow.fadeInUp.fast
					.logo
						.logo__icon
							img(src='assets/img/icon_logo.png', alt='Logo', class='logo__img')
						.logo__title waxom
					p.footer__about
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ullam ex fugiat et, repellat placeat officiis, praesentium deserunt, voluptatibus quisquam provident. Accusantium enim quos vero, fugiat illo obcaecati soluta ab deserunt, voluptatibus quisquam provident.
					button(class='post__readmore-btn')
						span read more
						i.fas.fa-caret-right
				.footer__column.footer__recent-posts.wow.fadeInUp.fast
					h3.footer__column-title recent posts
					.footer__recent-post
						p.recent-post__date September 08, 2015
						p.recent-post__text
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					.footer__line-delimiter
					.footer__recent-post
						p.recent-post__date September 08, 2015
						p.recent-post__text
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					.footer__line-delimiter
					.footer__recent-post
						p.recent-post__date September 08, 2015
						p.recent-post__text
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.footer__column.footer__twitter-posts.wow.fadeInUp.fast
					h3.footer__column-title our twitter
					.twitter-post
						p.twit__text
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio recusandae
						p.twit__date 3 mins ago
					.footer__line-delimiter
					.twitter-post
						p.twit__text
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio recusandae
						p.twit__date 5 hours ago
					.footer__line-delimiter
					.twitter-post
						p.twit__text
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio 
						p.twit__date 20 days ago
				.footer__column.footer__dribble-widget.wow.fadeInUp.fast
					h3.footer__column-title dribbble widget
					.dribble-widget__gallery
						.dribble-widget__card
							img(src='assets/img/dribble_pic01.jpg', alt='Dribble picture #1', class='dribble-widget__img')
						.dribble-widget__card
							img(src='assets/img/dribble_pic02.jpg', alt='Dribble picture #2', class='dribble-widget__img')
						.dribble-widget__card
							img(src='assets/img/dribble_pic03.jpg', alt='Dribble picture #3', class='dribble-widget__img')
						.dribble-widget__card
							img(src='assets/img/dribble_pic04.jpg', alt='Dribble picture #4', class='dribble-widget__img')
	.bottom-footer
		.bottom-footer__content.container
			.bottom-footer__right.wow.fadeInLeft.slow
				span(class='footer__span') copyright &copy; 2015 <span class='footer__span-span'>waxom</span>
				a(href='#', class='bottom-footer__right-link') privacy policy
				a(href='#', class='bottom-footer__right-link') FAQ
				a(href='#', class='bottom-footer__right-link') support
			.bottom-footer__left.wow.fadeInRight.slow
				span(class='footer__span') Designed by <span class='footer__span-span'>ThemeFire</span>
				span(class='footer__span') Only on <span class='footer__span-span'>Envato Market</span>

// Connecting WOW
script(src= "assets/js/wow.min.js")

// Connecting own scripts
script(src = "assets/js/scripts.min.js")