
<footer>
  <div class="top-footer">
    <div class="top-footer__content container">
      <div class="footer__columns">
        <div class="footer__column footer__about-waxom wow fadeInUp fast">
          <div class="logo">
            <div class="logo__icon"><img class="logo__img" src="assets/img/icon_logo.png" alt="Logo"/></div>
            <div class="logo__title">waxom</div>
          </div>
          <p class="footer__about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ullam ex fugiat et, repellat placeat officiis, praesentium deserunt, voluptatibus quisquam provident. Accusantium enim quos vero, fugiat illo obcaecati soluta ab deserunt, voluptatibus quisquam provident.</p>
          <button class="post__readmore-btn"><span>read more</span><i class="fas fa-caret-right"></i></button>
        </div>
        <div class="footer__column footer__recent-posts wow fadeInUp fast">
          <h3 class="footer__column-title">recent posts</h3>
          <div class="footer__recent-post">
            <p class="recent-post__date">September 08, 2015</p>
            <p class="recent-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="footer__line-delimiter"></div>
          <div class="footer__recent-post">
            <p class="recent-post__date">September 08, 2015</p>
            <p class="recent-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="footer__line-delimiter"></div>
          <div class="footer__recent-post">
            <p class="recent-post__date">September 08, 2015</p>
            <p class="recent-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="footer__column footer__twitter-posts wow fadeInUp fast">
          <h3 class="footer__column-title">our twitter</h3>
          <div class="twitter-post">
            <p class="twit__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio recusandae</p>
            <p class="twit__date">3 mins ago</p>
          </div>
          <div class="footer__line-delimiter"></div>
          <div class="twitter-post">
            <p class="twit__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio recusandae</p>
            <p class="twit__date">5 hours ago</p>
          </div>
          <div class="footer__line-delimiter"></div>
          <div class="twitter-post">
            <p class="twit__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio </p>
            <p class="twit__date">20 days ago</p>
          </div>
        </div>
        <div class="footer__column footer__dribble-widget wow fadeInUp fast">
          <h3 class="footer__column-title">dribbble widget</h3>
          <div class="dribble-widget__gallery">
            <div class="dribble-widget__card"><img class="dribble-widget__img" src="assets/img/dribble_pic01.jpg" alt="Dribble picture #1"/></div>
            <div class="dribble-widget__card"><img class="dribble-widget__img" src="assets/img/dribble_pic02.jpg" alt="Dribble picture #2"/></div>
            <div class="dribble-widget__card"><img class="dribble-widget__img" src="assets/img/dribble_pic03.jpg" alt="Dribble picture #3"/></div>
            <div class="dribble-widget__card"><img class="dribble-widget__img" src="assets/img/dribble_pic04.jpg" alt="Dribble picture #4"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="bottom-footer__content container">
      <div class="bottom-footer__right wow fadeInLeft slow"><span class="footer__span">copyright &copy; 2015 <span class='footer__span-span'>waxom</span></span><a class="bottom-footer__right-link" href="#">privacy policy</a><a class="bottom-footer__right-link" href="#">FAQ</a><a class="bottom-footer__right-link" href="#">support</a></div>
      <div class="bottom-footer__left wow fadeInRight slow"><span class="footer__span">Designed by <span class='footer__span-span'>ThemeFire</span></span><span class="footer__span">Only on <span class='footer__span-span'>Envato Market</span></span></div>
    </div>
  </div>
</footer>
<!-- Connecting WOW-->
<script src="assets/js/wow.min.js"></script>
<!-- Connecting own scripts-->
<script src="assets/js/scripts.min.js"></script>