
<header class="top-line">
  <div class="header-content container">
    <div class="logo wow fadeInLeft slow">
      <div class="logo__icon"><img class="logo__img" src="assets/img/icon_logo.png" alt="Logo"/></div>
      <div class="logo__title">waxom</div>
    </div>
    <nav class="top-line__navbar">
      <ul class="navbar__menu">
        <li class="navbar__item wow fadeInRight slow"><a class="navbar__link" href="#">home</a></li>
        <li class="navbar__item wow fadeInRight slow"><a class="navbar__link" href="#">about us</a></li>
        <li class="navbar__item wow fadeInRight slow"><a class="navbar__link" href="#">portfolio</a></li>
        <li class="navbar__item wow fadeInRight slow"><a class="navbar__link" href="#">features</a></li>
        <li class="navbar__item wow fadeInRight slow"><a class="navbar__link" href="#">blog</a></li>
        <li class="navbar__item wow fadeInRight slow"><a class="navbar__link" href="#">pricing</a></li>
        <li class="navbar__item wow fadeInRight slow"><a class="navbar__link" href="#">shortcodes</a></li>
        <li class="navbar__item wow fadeInRight slow"><a class="navbar__link" href="#">contact</a></li>
      </ul>
      <button class="hamburger__menu wow fadeInRight slow" onclick="expandMenu()"><i class="fas fa-bars"></i></button>
    </nav>
  </div>
</header>