// font-family: "Raleway Regular";
@font-face {
  font-family: 'Raleway Regular';
  src: url('../fonts/raleway_regular.eot');
  src: url('../fonts/raleway_regular.eot') format('embedded-opentype'),
       url('../fonts/raleway_regular.woff2') format('woff2'),
       url('../fonts/raleway_regular.woff') format('woff'),
       url('../fonts/raleway_regular.ttf') format('truetype'),
       url('../fonts/raleway_regular.svg#raleway_regular') format('svg');
  font-style: normal;
  font-weight: normal;
}

// font-family: "Raleway Medium";
@font-face {
  font-family: 'Raleway Medium';
  src: url('../fonts/raleway_medium.eot');
  src: url('../fonts/raleway_medium.eot') format('embedded-opentype'),
       url('../fonts/raleway_medium.woff2') format('woff2'),
       url('../fonts/raleway_medium.woff') format('woff'),
       url('../fonts/raleway_medium.ttf') format('truetype'),
       url('../fonts/raleway_medium.svg#raleway_medium') format('svg');
  font-style: normal;
  font-weight: normal;
}

// font-family: "Raleway Semibold";
@font-face {
  font-family: 'Raleway Semibold';
  src: url('../fonts/raleway_semibold.eot');
  src: url('../fonts/raleway_semibold.eot') format('embedded-opentype'),
       url('../fonts/raleway_semibold.woff2') format('woff2'),
       url('../fonts/raleway_semibold.woff') format('woff'),
       url('../fonts/raleway_semibold.ttf') format('truetype'),
       url('../fonts/raleway_semibold.svg#raleway_semibold') format('svg');
  font-style: normal;
  font-weight: normal;
}

// font-family: "Raleway Bold";
@font-face {
    font-family: 'Raleway Bold';
    src: url('../fonts/raleway_bold.eot');
    src: url('../fonts/raleway_bold.eot') format('embedded-opentype'),
         url('../fonts/raleway_bold.woff2') format('woff2'),
         url('../fonts/raleway_bold.woff') format('woff'),
         url('../fonts/raleway_bold.ttf') format('truetype'),
         url('../fonts/raleway_bold.svg#raleway_bold') format('svg');
}

// font-family: "Raleway Extrabold";
@font-face {
  font-family: 'Raleway Extrabold';
  src: url('../fonts/raleway_extrabold.eot');
  src: url('../fonts/raleway_extrabold.eot') format('embedded-opentype'),
       url('../fonts/raleway_extrabold.woff2') format('woff2'),
       url('../fonts/raleway_extrabold.woff') format('woff'),
       url('../fonts/raleway_extrabold.ttf') format('truetype'),
       url('../fonts/raleway_extrabold.svg#raleway_extrabold') format('svg');
  font-style: normal;
  font-weight: normal;
}

// font-family: "Montserrat Light";
@font-face {
  font-family: 'Montserrat Light';
  src: url('../fonts/montserratlight.eot');
  src: url('../fonts/montserratlight.eot') format('embedded-opentype'),
       url('../fonts/montserratlight.woff2') format('woff2'),
       url('../fonts/montserratlight.woff') format('woff'),
       url('../fonts/montserratlight.ttf') format('truetype'),
       url('../fonts/montserratlight.svg#montserratlight') format('svg');
  font-style: normal;
  font-weight: normal;
}


// font-family: "Roboto Regular";
@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/roboto_regular.eot');
  src: url('../fonts/roboto_regular.eot') format('embedded-opentype'),
       url('../fonts/roboto_regular.woff2') format('woff2'),
       url('../fonts/roboto_regular.woff') format('woff'),
       url('../fonts/roboto_regular.ttf') format('truetype'),
       url('../fonts/roboto_regular.svg#roboto_regular') format('svg');
  font-style: normal;
  font-weight: normal;
}



