.recent-posts {
	text-align: center;
	padding: 4rem 0 7rem;
	.section__desc {
		width: 50%;
		margin: 0 auto 2.5rem;
	}
	.posts-gallery {
		display: flex;
		justify-content: space-between;
		.post {
			width: 32%;
			height: auto;
			border: 1px solid #f8f8f8;
			text-align: left;
			transition: 0.5s ease;
			.post-slider {
				position: relative;
				.post-slider__slide {
					display: none;
					.post__img-overlay {
						display: none;
						width: 100%;
						height: 100%;
						background-color: rgba(0, 0, 0, 0.5);
						position: absolute;
						top: 0;
						left: 0;
					}
					&:first-child {
						display: block;
					}
				}
				.post-slider__dots {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					bottom: 8%;
					.post-slider__dot {
						width: 0.8rem;
						height: 0.8rem;
						display: inline-block;
						margin: 0 0.4rem;
						background-color: #908f8e;
						border: 2px solid #908f8e;
						border-radius: 50%;
						transform: 0.5s ease;
						cursor: pointer;
						&:hover, &.active {
							transform: scale(1.3);
							background-color: transparent;
						}
					}
				}
				.post__date {
					width: 20%;
					position: absolute;
					top: 10%;
					left: 7%;
					color: #fff;
					.post__date-day {
						padding: 0.5rem 0.75rem;
						font-size: 1.5rem;
						background-color: #363636;
						border-radius: 8% 8% 0 0;
					}
					.post__date-month {
						padding: 0.5rem 0.75rem;
						font-family: $roboto;
						font-size: 0.75rem;
						background-color: #252525;
						border-radius: 0 0 8% 8%;
					}
				}
			}
			.post__text {
				padding: 2rem 1.5rem;
				.post__title {
					margin-bottom: 1.5rem;
					font-family: $raleway_m;
					font-size: 1.25rem;
				}
				.post__desc {
					margin-bottom: 2rem;
					font-size: 0.875rem;
					line-height: 1.6;
				}
				.post__readmore-btn {
					cursor: pointer;
					text-transform: capitalize;
					color: $brandBrownLightColor;
					border: none;
					background-color: transparent;
					i {
						padding-left: 0.5rem;
					}
				}
			}
			&:hover {
				.post__img-overlay {
					display: block!important;
				}
				.post__date-day {
					background-color: #c7b299!important;
				}
				.post__date-month {
					background-color: #a48d72!important;
				}
				.post__text {
					background-color: $brandBrownDarkColor!important;
					.post__title {
						color: #c7b299!important;
					}
					.post__desc {
						color: #fff!important;
					}
				}
			}
		}
		@media screen and (max-width: 767px) {
			flex-flow: row wrap;
			.post {
				width: 100%;
			}
		}
	}
}